{% load static %}
<!DOCTYPE html>
<html lang="en" id="html">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />


    <link href="{% static 'css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/ui_helper.css' %}" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/13852d7c0f.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.16/mediaelement.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous">
    </script>

</head>

<body id="base_body">

    <div class="sidebar" id="sidebar" data-color="blue" style="z-index: 2">
        <div class="logo">
            <h5 class="text-white text-center font-weight-bold">DocLocker</h5>
            <h6 class="text-black text-center" style="font-weight: normal">{{ request.user.first_name }}
                {{ request.user.last_name }}</h6>
        </div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <li class="menu-item" id="dashboard-tab" onclick="">
                    <a href="{{ request.url }}/dashboard">
                        <i class="fas fa-hdd"></i>
                        <p class="font-weight-bold">Your Marksheets</p>
                    </a>
                </li>
                <li class="menu-item" id="shared_dashboard-tab" onclick="">
                    <a href="{{ request.url }}/receipt">
                        <i class="fas fa-users"></i>
                        <p class="font-weight-bold">Your Receipts</p>
                    </a>
                </li>

                <li class="menu-item" id="settings-tab" onclick="">
                    <a href="{{ request.url }}/profile">
                        <i class="fas fa-user-astronaut"></i>
                        <p class="font-weight-bold">User Profile</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-absolute" style="z-index: 1;top:0;background: #141e30;">
        <div class="container-fluid">


            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">



                    <li class="nav-item ml-2">
                        <a class="nav-link" href="{{ request.url }}/logout">
                            <i class="fas fa-sign-out fa icon"></i>
                            <span class="">Sign out</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>



    <div class="main-panel ps" id="main-panel">
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card text-center">
                    <div>
                        <h5 class="card-title p-3 notch text-red text-center mt-0" style="width: fit-content"><b>Your
                                Receipts</b></h5>
                    </div>
                    <div class="row justify-content-center" id="files-container">

                    {% if flag %}
                        {% for i, j in sem_url %}
                        <div id="file-card" class="col-md-2 m-2 text-center p-0 rounded border border-default">
                            <img src="{% static 'images/file_bg.svg' %}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{i}}</h5>

                                <a href="{{j}}" target="_blank" class="btn btn-primary">Download</a>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No Files Found</p>
                    {% endif %}
                    </div>
                </div>
            </div>





        </div>
    </div>
    </div>
    </div>

    <!--Folder Modal -->
    <div class="modal fade" id="folderModal" tabindex="-1" role="dialog" aria-labelledby="folderModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="FolderModalLabel">Create new folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Folder name</label>
                        <input type="text" class="form-control" id="foldernamebox">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select Parent Folder</label>
                        <select class="form-control" id="folderOptions2">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                        onclick="saveFolder({{ request.session.user_id }})">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="folderModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="FolderModalLabel">Share with people</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Type email address:(must be registered)</label>
                        <div class="d-flex">
                            <input type="email" required class="form-control mr-1" id="share_emailbox">
                            <button class="btn btn-info m-0" onclick="checkAndShare()">Share</button>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="shared-container">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="">Save changes</button>
                </div>
            </div>
        </div>
    </div>






</body>

</html>